<!doctype html>
<html>

<head>
    <title>Print Interface</title>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/jsrender.min.js"></script>
    <script src="/static/accordion.js"></script>
    <script src="/static/interface.js"></script>
    <script src="/static/printerlogic.js"></script>
    <link href="/static/style.css" rel="stylesheet">
    <script id="badgeTableRow" type="text/x-jsrender">
            <div class="ac_title badge-table-row badge-table-hoverable" id="{{>registrantId}}">
                <div class="badge-table-item badge-table-item-indicator ac_indicator"></div>
                <div class="ac_target badge-table-item badge-table-item-main">
                    {{>attendeeBadgeName}}
                    {{if checkedIn}}
                    <span class="checked-in-notation">(checked in)</span>
                    {{else}}
                    <span class="not-checked-in-notation">(not checked in)</span>
                    {{/if}}
                </div>
                <div class="ac_target badge-table-item badge-table-item-small">{{>firstName}}</div>
                <div class="ac_target badge-table-item badge-table-item-small">{{>lastName}}</div>
                <div class="ac_target badge-table-item badge-table-item-small">{{>badgeLevel}}</div>
                <div class="ac_target badge-table-item badge-table-item-small">{{>status}}</div>
            </div>
            <div class="ac_data badge-table-row" id="{{>registrantId}}">
                <div class="badge-table-item badge-table-indicator"></div>
                <div class="badge-table-item badge-table-item-main">
                    <li><strong>ID:</strong> {{>registrantId}} ({{>displayId}})</li>
                    <li><strong>Email:</strong> {{>email}}</li>
                    <li><strong>DOB:</strong> {{>dateOfBirth}}</li>
                    <li><strong>Age at Event:</strong> {{>ageAtEvent}} (<strong>Current:</strong> {{>ageNow}})</li>
                    <li><strong>Phone:</strong> {{>phone}}</li>
                    <li><strong>Zip:</strong> {{>billingZip}}</li>
                    <li><strong>Country:</strong> {{>billingCountry}}</li>
                </div>
                <div class="badge-table-item"></div>
                <div class="badge-table-item"></div>
                <div class="badge-table-item"></div>
                <div class="badge-table-item">
                    <form>
                        {{if checkedIn}}
                        <input type="button" value="Reprint" class="reprint" id="reprint_{{>registrantId}}">
                        {{else}}
                        <input type="button" value="Check In & Print" class="checkin" id="checkin_{{>registrantId}}">
                        {{/if}}
                        <input type="button" value="Update" class="reprint" id="update_{{>registrantId}}">
                    </form>
                </div>
            </div>
    </script>
    <script id="printerTableRow" type="text/x-jsrender">
            <div class="printer-table-row">
                <div class="printer-table-item printer-table-item-slot">{{>slotName}}</div>
                <div class="printer-table-item printer-table-item-selector">
                    <select id="{{>slotSelectorName}}">
                        <option value="null">&lt;none selected&gt;</option>
                        {{for printers}}
                        <option value="{{>printerName}}">{{>printerName}} ({{>printerInfo}}, {{>printerModel}})</option>
                        {{/for}}
                    </select>
                </div>
            </div>
    </script>
</head>

<body>
    <div class="page-container">
        <form>
            Search: <input type="text" value="" id="searchBox">
            <input type="button" value="Reload" id="updateSearch">
            <input type="button" value="Clear" id="clearSearch">
        </form>

        <hr>

        <div class="badge-table-container">
            <div class="badge-table-title">
                <div class="badge-table-item badge-table-item-indicator"></div>
                <div class="badge-table-item badge-table-item-main"><h1>Badge Name</h1></div>
                <div class="badge-table-item badge-table-item-small"><h1>First Name</h1></div>
                <div class="badge-table-item badge-table-item-small"><h1>Last Name</h1></div>
                <div class="badge-table-item badge-table-item-small"><h1>Badge Level</h1></div>
                <div class="badge-table-item badge-table-item-small"><h1>Order Status</h1></div>
            </div>
        </div>
        <div class="badge-table-container-results" id="badgeTable">
        </div>

        <hr>

        <div class="printer-table-container">
            <div class="badge-table-title">
                <div class="printer-table-item printer-table-item-slot"><strong>Slot</strong></div>
                <div class="printer-table-item printer-table-item-selector"><strong>Printer</strong></div>
            </div>
        </div>
        <div class="printer-table-container-results" id="printerTable">
        </div>
    </div>
</body>

</html>
